/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/homestead
/laradock
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
.DS_Store
resources/.DS_Store
.idea/
.editorconfig
package-lock.json
*.lock
composer.lock
laradock

